/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/


/*********************
TRANSITION
*********************/

/* defining prefixes so we can use them in mixins below */
$prefixes:      ("-webkit-", "-moz-", "-ms-", "-o-", "" );

@mixin border-radius ($radius: 5px) {
	@each $prefix in $prefixes {
		#{$prefix}border-radius:$radius;
	}
}
@mixin box-shadow($arguments) {
	@each $prefix in $prefixes {
		#{$prefix}box-shadow:$arguments;
	}
}
@mixin transition($transition...) {
	@each $prefix in $prefixes {
		#{$prefix}transition:$transition;
	}
}
/* @include transition(all 0.2s ease-in-out); */
@mixin transform($transform...) {
	@each $prefix in $prefixes {
		#{$prefix}transform:$transform;
	}
}
/* @include box-sizing(border-box); */
@mixin box-sizing($type: border-box) {
	@each $prefix in $prefixes {
		#{$prefix}box-sizing: $type;
	}
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}