/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
/*
html {
	&.lp-color-1 {
		background-image:url(../images/backgrounds/blue-2560.jpg);
	}
	&.lp-color-2 {
		background-image:url(../images/backgrounds/orange-2560.jpg);
	}
	&.lp-color-3 {
		background-image:url(../images/backgrounds/green-2560.jpg);
	}
	&.lp-color-4 {
		background-image:url(../images/backgrounds/pink-2560.jpg);
	}
	&.lp-color-5 {
		background-image:url(../images/backgrounds/yellow-2560.jpg);
	}
	&.lp-color-6 {
		background-image:url(../images/backgrounds/grey-2560.jpg);
	}
}*/
.wrapper {
	padding:0 225px;
}
#main_nav {
	height:auto;
	.top-nav {
		padding-top:15px;
	}
}
.slider-container {
	padding:0 225px;
	max-width:none;
}
.slider {
	.slider-controls {
		a {
			&.prev {
				left:71px;
				&:hover span {
					background-position:0 -300px;
				}
			}
			&.next {
				right:71px;
				&:hover span {
					background-position:0 -200px;
				}
			}
		}
	}
}
.projects-list {
	padding:0 225px;
}
body.page {
	/*.hentry {
		padding:20px;
	}*/
}