/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
/*
html {
	&.lp-color-1 {
		background-image:url(../images/backgrounds/blue-2560.jpg);
	}
	&.lp-color-2 {
		background-image:url(../images/backgrounds/orange-2560.jpg);
	}
	&.lp-color-3 {
		background-image:url(../images/backgrounds/green-2560.jpg);
	}
	&.lp-color-4 {
		background-image:url(../images/backgrounds/pink-2560.jpg);
	}
	&.lp-color-5 {
		background-image:url(../images/backgrounds/yellow-2560.jpg);
	}
	&.lp-color-6 {
		background-image:url(../images/backgrounds/grey-2560.jpg);
	}
}*/
.wrapper {
	width:768px;
	margin:0 auto;
}
body.page {
	/*.hentry {
		padding:20px;
	}*/
}