/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#logo {
	width:130px;
	height:130px;
	position:absolute;
	z-index:2;
	left:43px;
	top:32px;
}
.wrap {
	width:1200px;
}
.wrapper {
	width:890px;
}
#main_nav {
	height:auto;
	.top-nav {
		padding-top:15px;
	}
}
.slider-container {
	padding:0 300px;
	max-width:none;
}
.slider {
	.slider-controls {
		a {
			&.prev {
				left:146px;
			}
			&.next {
				right:146px;
			}
		}
	}
}
.projects-list {
	& > li {
		a {
			padding-left:40px;
			padding-right:40px;
		}
	}
}
body.page {
}