/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
	width:1200px;
}
.wrapper {
	width:890px;
}
header {
	max-width:1498px;
}
#logo {
	left:44px;
}
.slider-container {
	max-width:1150px;
}
.slider {
	.slider-panel {
		width:890px;
	}
}
body.home {
	.projects-list {
		& > li {
			a {
				padding-left:40px;
				padding-right:40px;
			}
		}
	}
}
body.page {
}