/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
	width:1560px;
}
header {
	max-width:1808px;
}
.slider {
	max-width:1460px;
	.slider-panel {
		width:1200px;
	}
}