/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

header {
	max-width:1808px;
}
.slider-container {
	max-width:1460px;
}
.slider {
	.slider-panel {
		width:1200px;
	}
}
body.home {
	.projects-list {
		& > li {
			a {
				padding-left:60px;
				padding-right:60px;
			}
		}
	}
}